APP_NAME = "min-RAG-fady"
APP_VERSION = "0.1.0"
DEBUG = True
LOG_LEVEL = "DEBUG" 
PORT = 8000
# OPEN_AI_API_KEY = "your-openai-api-key-here" 
FILE_ALLOWED_TYPES = ["text/plain" , "application/pdf"]
FILE_ALLOWED_SIZE = 10 
#PROJECTS_DIR = "projects"
FILE_CHUNCK_SIZE = 524288 # 512KB   